---
const pageTitle = "Powerbi";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    Estoy trabajando en el tutorial introductorio de Astro. ¡Esta es la segunda
    página de mi sitio web y la primera que construí yo mismo!
  </p>

  <p>
    Este sitio se actualizará a medida que complete más del tutorial, así que
    sigue revisándolo para ver cómo va mi progreso.
  </p>
</BaseLayout>
