<nav id="nav-links" class="flex flex-row grap-x-10">
  <a href="/" class="hover:bg-orange-500 px-4 py-2 rounded-md">Home</a>
  <a href="/about" class="hover:bg-orange-500 px-4 py-2 rounded-md">About</a>
  <a href="/blog" class="hover:bg-orange-500 px-4 py-2 rounded-md">Blog</a>
  <a href="/tags" class="hover:bg-orange-500 px-4 py-2 rounded-md">Tags</a>
</nav>
